<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <!-- Create using BotFather: https://core.telegram.org/bots#botfather -->
    <add key="TelegramApiToken" value="*** Your Bot Api Key ***" />
    
    <!-- Create your own token @ https://console.developers.google.com -->
    <add key="YoutubeApiAppName" value="*** Your Youtube App Name ***" />
    <add key="YoutubeApiToken" value="*** Your Youtube Api Key ***" />
    <add key="YoutubeChannelId" value="*** Your Youtube Channel Id ***" />
</appSettings>