<?xml version="1.0" encoding="utf-8"?>
<appSettings>
    <!-- Create using BotFather: https://core.telegram.org/bots#botfather -->
    <add key="TelegramApiToken" value="*** Your Bot Api Key ***" />
    
    <!-- Create your own token @ https://console.developers.google.com -->
    <add key="YoutubeApiAppName" value="*** Your Youtube App Name ***" />
    <add key="YoutubeApiToken" value="*** Your Youtube Api Key ***" />
    
    <!-- Pointed at NeebsGaming channel, but really, it could point anywhere. -->
    <add key="YoutubeChannelId" value="UCiufyZv8iRPTafTw0D4CvnQ" /> 
</appSettings>